include README.md
include lesion_segmentor/docker/Dockerfile
include lesion_segmentor/docker/docker-compose.yml
include lesion_segmentor/docker/.dockerignore
include lesion_segmentor/docker/.env
include lesion_segmentor/scripts/docker_segment.sh 