include README.md
recursive-include lesion_segmentor/docker *
recursive-include lesion_segmentor/docker .*
recursive-include lesion_segmentor/scripts *
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store 